<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heshuijinjuan.service.persistence.mapper.PaperFileMapper">
    <insert id="add" parameterType="com.heshuijinjuan.service.common.po.PaperFilePo" useGeneratedKeys="true">
        INSERT INTO paper_file(fileName, contentType, path) VALUES
            (#{fileName}, #{contentType}, #{path})
    </insert>

    <select id="findById" parameterType="java.lang.Long">
        SELECT * FROM paper_file WHERE id=#{id}
    </select>
</mapper>